/* master template: f15 */


* {
    display: flex;
    margin: 0;
    padding: 0;
}

script, style {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#viewport {
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 360px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border: 3px solid red;
}

#i1 {
    margin-top: 5%;
    text-align: center;
}

#b {
    margin-top: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#i2 {
    margin-right: 20%;
    vertical-align: middle;
}
#i3 {
    vertical-align: middle;
}
#i4 {
    vertical-align: middle;
    margin-left: 20%;
}

#t1 {
    margin-top: 10%;
    height: 12%;
}

#t2 {
    height: 12%;
}

