body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: white;
	background-color: white;
	border: 2px solid red;
}
.circleWrapper {
	background-color: black;
	width:360px;
	height:360px;
	-webkit-clip-path: circle(180px at 180px 180px);
}
head {
	display: none;
}
* {
}
.box {
	width: 180px;
	height: 180px;
	display: inline-block;
}
.imgbox {
	width: 180px;
	height: 180px;
}
.lefttop {
	background: blue;
}
.righttop {
	background: gray;
}
.leftbottom {
	background: pink;
}
.rightbottom {
	background: orange;
}
.text {
	position: relative;
	font-size: 25px;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	width: 90px;
}
.top {
	margin-top: -90px;
}
.bottom {
	margin-top: -130px;
}
.right {
	margin-left: 30px;
	margin-right: auto;
}
.left {
	margin-right: 30px;
	margin-left: auto;
}