* {
	display: flex;
	margin: 0;
	padding: 0;
}
script {
	display: none;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	color: white;
	font-size: 24pt;
}
div {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.div_btn {
	width: 70%;
	height: 20%;
	border-radius: 38px;
	margin-bottom: 3%;
}
#container {
	width: 100%;
	height: 100%;
	background-color: #172834;
}
#btn_save {
	background-color: #4C63FF;
	margin-top: 10%;
}
#btn_find {
	background-color: #FE7474;
}