body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: white;
	background-color: white;
	border: 2px solid red;
}
.circleWrapper {
	background-color: black;
	width:360px;
	height:360px;
	-webkit-clip-path: circle(180px at 180px 180px);
}
head {
	display: none;
}
* {
	display: flex;
}
.flexContainer {
	flex-flow: row wrap;
}
.box {
	width: 180px;
	height: 180px;
}
.imgbox {
	width: 180px;
	height: 180px;
}
.lefttop {
	background: blue;
}
.righttop {
	background: gray;
}
.leftbottom {
	background: pink;
}
.rightbottom {
	background: orange;
}
.text {
	position: absolute;
	font-size: 25px;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	width: 90px;
}
.top {
	top: 100px;
}
.bottom {
	bottom: 100px;
}
.right {
	right: 60px;
}
.left {
	left: 60px;
}