[submodule "third_party/escargot"]
	path = third_party/escargot
	url = http://10.113.64.203/escargot/escargot.git
[submodule "test"]
	path = test
	url = http://suprem.sec.samsung.net/gerrit/OWES/widget-tc
