* {
	display: flex !important;
	margin: 0;
	padding: 0;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	text-align: center;
	color: white;
	font-size: 15pt;
	padding-top: 3%;
	color: #DDDDDD;
}
#container {
	background-color: black;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
#img_mt {
	width: 100%;
	height: 45%;
}
#icon_container {
	width: 100%;
	height: 18%;
	top: 35%;
	justify-content: center;
	margin-top: -9%;
}
#img_bicycle {
	width: 18%;
	height: 100%;
}
#des_container {
	height: 46%;
	flex-direction: column;
	align-items: center;
}
#main_text {
	color: white;
	font-size: 22pt;
	padding: 0 7% 0 7%;
	max-height: 78px;
	overflow: hidden;
}
#spot_container {
	justify-content: center;
	align-items: flex-end;
}
#img_spot {
	width: 12%;
	height: 12%;
	margin-right: 3%;
}