/* master template: f05 */

* {
    display: flex;
    margin: 0;
    padding: 0;
}

script, style {
    display: none;
}

#viewport {
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 360px;
    color: white;
    font-size: 24px;
    background-color: black;
    border: 3px solid red;
}

#b1 {
    width:100%;
    height: 30%;
    flex-direction: column;
    align-items: center;
}

#t1 {
    margin-top: 2%;
    height: 30%;
    font-weight: bold;
}

#t2 {
    margin-top: 5%;
    height: 30%;
}

#t3 {
    height: 20%;
    width: 100%;
    font-weight: bold;
    font-size: 36px;
}

#t4 {
    margin-top: 10%;
    height: 15%;
    font-size: 36px;
}

#t5 {
    font-size: 36px;
}
