/* master template: f05 */

* {
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#viewport {
    width: 360px;
    height: 360px;
    color: white;
    font-size: 24px;
    background-color: black;
    border: 3px solid red;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#t1 {
    top: 5%;
    left: 0%;
    width: 100%;
    height: 10%;
    font-weight: bold;
}

#b1 {
    top: 25%;
    left: 0%;
    width: 100%;
    height: 30%;
}

#b1_i1 {
    top: 0%;
    left: 20%;
    width: 50px;
}

#b1_t1 {
    top: 0%;
    left: 60%;
    width: 50%
    height: 30%;
    font-size: 26pt;
}

#b1_t2 {
    top: 25%;
    left: 59%;
    width: 50%;
    height: 30%;
    font-size: 26pt;
}

#t3 {
    top: 65%;
    left: 0%;
    width: 100%;
    height: 20%;
    font-size: 26pt;
}

#t4 {
    top: 80%;
    left: 0%;
    width: 100%;
    height: 20%;
    font-size: 26pt;
}
