body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: white;
	background-color: black;
	border: 2px solid red;
}

.titleImg {
	margin-left: 100px;
	margin-top: 20px;
	width: 160px;
}
.title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.mainImg {
	height:49px;
	text-align: center;
	padding-left: 63px;
	padding-right: 63px;
}
.bigTxt {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}
.smallTxt {
	text-align: center;
	font-size: 20px;
}
.addButton {
	margin-top: 24px;
	height: 76px;
	background-color: #39addb;
	text-align: center;
}