* {
	margin: 0;
	padding: 0;
}
body {
	width: 360px;
	height: 360px;
}
p {
	color: white;
	font-size: 17pt;
}
div {
	text-align: center;
}
.img_btn {
	width: 52%;
	margin-top: 10%;
}
.div_line {
	width: 40%;
	display: inline-block;
}
#container {
	width: 100%;
	height: 100%;
	background-color: #36A8DF;
}
#div_title {
	width: 100%;
	height: 11%;
	padding-top: 7%;
}
#img_icon {
	width: 11%;
	height: 100%;
	margin-right: 0.5%;
}
#img_logo {
	width: 25%;
	height: 52%;
	margin-bottom: 2.6%;
}
#div_grid {
	width: 100%;
	margin-top: 2.5%;
}
