body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: white;
	background-color: white;
	//border: 2px solid red;
}
.circleWrapper {
	background-color: black;
	width:360px;
	height:360px;
	-webkit-clip-path: circle(180px at 180px 180px);
}
head {
	display: none;
}
* {
	position: block;
}
.top {
	height: 170px;
	background-color: #1f556e;
}
.icon {
	position: relative;
	top: 3px;
	left: 152px;
}
.subtitle {
	position: relative;
	top: 150px;
	height: 15px;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 17px;
	text-align: center;
	padding-bottom: 10px;
}
.contents {
	margin-left: auto;
	margin-right: auto;
	width: 290px;
	padding-top: 10px;
	font-size: 28px;
	text-align: center;
}
