* {
	position: absolute;
	margin: 0;
	padding: 0;
}
script {
	display: none;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	width: 100%;
	color: white;
	font-size: 14pt;
}
#container {
	width: 100%;
	height: 100%;
	background-color: black;
	text-align: center;
	overflow: hidden;
}
#img_title {
	width: 40%;
	height: 24%;
	top: 4%;
	left: 30%;
}
#div_progress {
	width: 68%;
	height: 8px;
	top: 42.6%;
	left: 16%;
	background-color: #333333;
}
#div_progress_bar {
	width: 35%;
	height: 100%;
	background-color: #41CD8B;
}
#div_btn {
	width: 100%;
	height: 26%;
	top: 78%;
	background-color: #41CD8B;
}
#text_title {
	color: #41CD8B;
	top: 32%;
}
#text_value {
	top: 46.6%;
	font-size: 40pt;
	font-weight: bold;
}
#text_desc {
	top: 65.2%;
}
#text_btn {
	top: 20%;
	font-size: 22pt;
}