/* master template: f08 */

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#viewport {
    width: 360px;
    height: 360px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border: 3px solid red;
}

#t1 {
    margin-top: 5%;
    width: 100%;
}

#i1 {
    margin-top: 5%;
    text-align: center;
}

#t2 {
    margin-top: 5%;
    font-size: 30pt;
}

