* {
	display: flex;
	margin: 0;
	padding: 0;
}
script {
	display: none;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	color: #CCCCCC;
	font-size: 17pt;
}
div {
	align-items: center;
	justify-content: center;
}
.div_btn {
	width: 25%;
	height: 100%;
	border-radius: 50%;
}
.img_btn {
	width: 90%;
	height: 90%;
}
#container {
	width: 100%;
	height: 100%;
	background-color: #222834;
	flex-direction: column;
}
#div_bottom {
	width: 100%;
	height: 25%;
	margin-top: 6%;
}
#div_btn_left {
	background-color: #5D5E62;
}
#div_btn_right {
	margin-left: 5%;
	background-color: #4C62FE;
}
#text_title {
	margin-bottom: 2%;
	color: white;
	font-size: 32pt;
}