* {
	margin: 0;
	padding: 0;
}
body {
	width: 360px;
	height: 360px;
}
#container {
	width: 100%;
	height: 100%;
	background-color: #0D0D0D;
	text-align: center;
}
#text_title {
	color: white;
	font-size: 24pt;
	padding-top: 12%;
}
#text_current {
	color: #EE913A;
	font-size: 52pt;
	display: inline;
}
#text_percent {
	color: #EE913A;
	font-size: 22pt;
	text-align: left;
}
#text_time {
	color: #CCCCCC;
	font-size: 16pt;
}
#img_battery {
	width: 52%;
	margin-right: -2%;
}
#div_current {
	margin: 4% 0 1% 0;
}
#div_desc {
	display: inline-block;
	margin-left: 3%;
}