body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: white;
	background-color: black;
	border: 2px solid red;
}
head {
	display: none;
}
* {
	display: block;
}
.topimg {
	margin-top: 70px;
}
.titleIcon {
	margin-left: auto;
	margin-right: auto;
}
.text {
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
}
.bgImg {
	margin-top: 10px;
	padding-top: 50px;
	height: 140px;
}
.button {
	margin-left: 80px;
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}