* {
	position: absolute !important;
	margin: 0;
	padding: 0;
}
body {
	width: 360px;
	height: 360px;
}
p {
	font-size: 16pt;
	color: white;
}
#container {
	background-color: black;
	width: 100%;
	height: 100%;
}
#main_img {
	width: 36%;
	top: 7%;
	left: 32%;
}
#main_text {
	top: 102px;
	left: 101px;
	font-size: 14pt;
	color: #DF4C8E;
}
#progress_container {
	top: 141px;
	left: 50px;
	width: 260px;
	height: 8px;
	background-color: #333333;
}
#progress_bar {
	top: 141px;
	left: 50px;
	width: 91px;
	height: 8px;
	background-color: #DF4C8E;
}
.number_text {
	font-weight: bold;
	font-size: 40pt;
}
#number_a {
	top: 154px;
	left: 106px;
}
#number_b {
	top: 205px;
	left: 106px;
}
#number_c {
	top: 256px;
	left: 106px;
}
#desc_a {
	top: 182px;
	left: 178px;
}
#desc_b {
	top: 233px;
	left: 178px;
}
#desc_c {
	top: 284px;
	left: 178px;
}