td.wlist { background-color: #98FB98; }
td.notwlist { background-color: #FF6347; }
table.results { margin-right: 10px; }
table.results td { text-align: left; vertical-align: top; }
table.results th { text-align: left; vertical-align: top; }
table.results td p { margin: 1em; }
table.results td ol { margin-left: 0; padding-left: 3em; margin-right: 1em; }
table.results th { line-height: 1em;  }
table.results th.side { vertical-align: top;   }
table.results th.topleft { width: 12em; vertical-align: top; text-align: right;  }
table.results td { vertical-align: middle; min-width: 50px; padding: 0 5px;  }

.y { background-color: #98FB98; }
.p { background-color: #EEC900; }
.n { background-color: #FF6347; }

table .assert { width:25%; font-weight: normal; }
table th.title { text-align: right; }
.assertionContainer { color: #930; font-size:75%; height: 3em; line-height: 1.2em; }
.testLink { color: #930; font-size: 75%; text-align: right; margin-right: 10px;  }
.links { font-size: 75%; }
.notes{ font-size: 75%; }
p.notes { margin-left: 12%; }

.exp { color:#999; }
/* .key { color: #930; font-size: 85%; line-height:1.4em; } */
.key p { color: black; margin-top: 0; margin-bottom: 0; padding: 4px 8px; border: 1px solid teal; }

.uncertain { background-color: white; color: #CCC; }
.invalid { background-color: #CCC; }
.fail { background-color: #F66; }
.fail.uncertain { background-color: #FAA; color: black; }
.pass { background-color: #8F8; }
.pass.fail, .pass.uncertain { background-color: #BFB; color: black; }


h4 { margin-left: 7.5%; margin-right: 32%; display: block; }
h4 a:link { color: black; }
h4 a:active { color: black; }
h4 a:hover { color: black; }
h4 a:visited { color: black; }

.summary { margin-left: 10%; }
.summary .browsers { font-size: 80%; }