* {
	margin: 0;
	padding: 0;
}
script {
	display: none;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	color: #CCCCCC;
	width: 100%;
	text-align: center;
}
.font_regular {
	font-size: 18pt;
}
.font_medium {
	font-size: 24pt;
}
.font_large {
	color: white;
	font-size: 45pt;
}
div {
	width: 100%;
}
#container {
	height: 100%;
	background-color: black;
}
#div_top {
	height: 29%;
	background-color: #252525;
}
#div_middle {
	height: 42%;
	background-color: #1F1F1F;
}
#div_bottom {
	height: 29%;
	background-color: #2F2F2F;
}
#text_date {
	padding-top: 9.7%;
}
#text_price {
	padding-top: 6.2%;
}
#img_picto {
	line-height: 80%;
}
