* {
	display: flex;
	margin: 0;
	padding: 0;
}
body {
	width: 360px;
	height: 360px;
}
p {
	font-size: 16pt;
	color: white;
}
script {
	display: none;
}
#container {
	background-color: black;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex: 1;
	padding: 5% 5% 10% 5%;
}
#main_img {
	width: 40%;
}
#main_text {
	font-size: 14pt;
	color: #DF4C8E;
}
#progress_container {
	width: 80%;
	height: 8px;
	background-color: #333333;
}
#progress_bar {
	width: 35%;
	height: 100%;
	background-color: #DF4C8E;
}
#sub_container {
	flex-direction: column;
}
.text_container {
	align-items: flex-end;
}
.number_text {
	font-weight: bold;
	font-size: 40pt;
	margin: -10px 0 -10px 0;
}
.desc_text {
	margin-left: 10px;
	margin-bottom: -2px;
}