body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: white;
	background-color: black;
	border: 2px solid red;
}

* {
	display: flex;
}
.flexContainer {
	flex-direction: column;
	align-items: center;
	width : 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}
.icon {
	margin-top:3px;
	width: 20px;
	height: 23px;
}
.box {
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top:9px;
	padding-bottom:9px;
	width: 283px;
	height: 76px;
}
.schedule1 {
	color: #7a7a7a;
}
.schedule2 {
	color: white;
	font-weight: bold;
}
.schedule3 {
	color: #7a7a7a;
}
.title {
	font-size:30px;
}
.time {
	font-size: 20px;
	margin-top: 5px;
}
.date {
	font-size: 20px;
	color: #ff9500;
//	background-color: coral;
}