body { font-family:Arial, Helvetica, sans-serif; color: black; background-color: white;  margin-top: 0; padding-top: 0; }
.instructions { color: #ff6633; margin: 50px 200px 0 12px;}
.instructionNote { color: #ff6633; margin: 0 200px 0 12px; font-size: 80%; }
.instructionNote:before { content: '! '; font-weight: bold; font-size: 200%; color: teal; }
.instructionHint { color: #ff6633; margin: 0 200px 0 12px; font-size: 80%; }
.instructionHint:before { content: 'ℹ '; font-weight: bold; font-size: 200%; color: #ff6633; }
.prerequisites { color: gray; font-size: 90%; background-color: #AAA; color: white; margin: 0; padding: 3px; border-left: 5px solid orange; margin-right: 100px;  }
.assertion { color: #ff6633;  color: teal; }
.description { font-size: 80%; margin: 7em 4em 0em 7em; }
.test { border: 1px solid orange; margin: 10px; margin-right: 200px; padding: 5px; clear: both; }
.ref { border: 1px solid teal; margin: 10px; margin-right: 200px; padding: 5px; clear: both; }
.notes { color: #aaa; }
.nexttest {  position: absolute; top:5px; right: 10px; font-size: 20px; line-height: 20px; margin:0;  text-align: right; }
.nexttest a:link { color:teal; text-decoration:none; }
.nexttest a:visited { color:teal; text-decoration:none; }
.nexttest a:active { color:teal; text-decoration:none; }
.title { margin: 0 0 0 10px; font-weight: bold; }
.doctype { color: #BBB; font-size:60%; }
.instructionsymbol { float: left; }
.instructionsymbol img { margin:0; padding:0; }
.orangesymbolexpl { color: orange; font-weight: bold; font-size: 120%; }

.jump { text-align: right;  font-size: 60%; color: #aaa; }
.jump a:link { color:teal; text-decoration:none; }
.jump a:visited { color:teal; text-decoration:none; }
.jump a:active { color:teal; text-decoration:none; }
