* {
	display: flex;
	margin: 0;
	padding: 0;
}
script {
	display: none;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	text-align: center;
	color: #1BCEFC;
}
#container {
	width: 100%;
	height: 100%;
	background-color: white;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
#text_header {
	font-size: 25pt;
	margin-bottom: 25px;
}
#img_graph {
	width: 100%;
	margin-bottom: 40px;
}
#div_pointer {
	top: 160px;
	left: 255px;
	position: absolute;
	flex-direction: column;
	align-items: center;
}
#img_pointer {
	width: 15px;
}