body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: white;
	background-color: black;
	border: 2px solid red;
}

.category1 {
	position: absolute;
	top: 40px;
	left: 137.5px;
	width: 88px;
	height: 26px;
	color: white;
	padding-top: 7px;
	font-size: 19px;
	text-align: center;
}

.category2 {
	position: absolute;
	top: 180px;
	left: 137.5px;
	width: 88px;
	height: 26px;
	color: white;
	padding-top: 7px;
	font-size: 19px;
	text-align: center;
}

.content1 {
	position: absolute;
	top: 83px;
	left: 33px;
	width: 297px;
	height: 66px;
	color: white;
	font-size: 26px;
	text-align: center;
//	background-color: coral;
}

.content2 {
	position: absolute;
	top: 220px;
	left: 33px;
	width: 297px;
	height: 66px;
	color: white;
	font-size: 26px;
	text-align: center;
//	background-color: coral;
}

.like {
	position: absolute;
	top: 314.4px;
	left: 90px;
	width: 181.5px;
	height: 20.2px;
	font-size: 20px;
	text-align: center;
	color: white;
//	background-color: coral;
}