body {
    position:absolute;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125em;
    color: white;
	background-color: black;
	border: 0px solid red;
}

* {
}
.icon {
	margin-top:5px;
	left: 15px;
}
.box {
	text-align: center;
	padding-top:10px;
	width: 283px;
	height: 76px;
}
.schedule1 {
	margin-top: 42px;
	margin-left: 40px;
	color: white;
}
.schedule2 {
	margin-left: 40px;
	color: white;
	/*font-weight: bold;*/
}
.schedule3 {
	margin-left: 40px;
	color: white;
}
.title {
	font-size:30px;
	width: 100%;
}
.time {
	font-size: 20px;
	width: 100%;
	margin-top: 5px;
}
.date {
	font-size: 20px;
	text-align: center;
	color: #ff9500;
//	background-color: coral;
}
