/* * {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}
*/
body {
	margin: 0px;
	font-family: Tizen,Samsung Sans,Helvetica;
	color: white;
	background-color:#222;
}

.flex-row-container {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}

.flex-col-container {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}