.articles { list-style-type: none; }
.articles li { margin-bottom: 5px; }
a + a { margin-left: 20px; }
li { margin-bottom: 10px; color: #C03; }
h2 a:link { color: white; }
h2 a:active { color: white; }
h2 a:hover { color: white; }
h2 a:visited { color: white; }
h3 a:link { color: black; }
h3 a:active { color: black; }
h3 a:hover { color: black; }
h3 a:visited { color: black; }
h3 { margin-top: 3em; }
.assertion { font-size: 75%; color:black; }
.small { color: #ccc; font-size: 80%;  }
.exploratory { list-style-type: none; margin-left: 12%; }
.copyright a { margin: 0; padding: 0; font-style: normal; }
.links a { margin: 0; padding: 0; font-style: normal; }
.links p { padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0; font-style: italic;color: #687FB1; padding-left: 20px; background: url(images/right.gif) no-repeat left; }
.results { font-size: 120%; font-weight:bold; }

li.toc1 { margin-left: 0; padding-left: 0; font-weight: normal; }
li.toc2 { margin-left: 10px; padding-left: 0px; font-weight: normal; font-size: 95%; margin-top: 5px; }
#toclocation ol { margin-left: 0; padding-left: 0; font-weight: normal; }
#toclocation ol ol { margin-left: 12px; padding-left: 0; font-weight: normal; margin-top: 10px; }
.toc2 a:link { color: teal; }
.toc2 a:active { color: teal; }
.toc2 a:hover { color: teal; }
.toc2 a:visited { color: teal; }
