/* master template: s07 */

* {
    display: flex;
    margin: 0;
    padding: 0;
}

script, style {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#viewport {
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 360px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border: 3px solid red;
}

#t1 {
    margin-top: 5%;
}

#b1 {
    margin-top: 10%;
    margin-left: 25%
}

#b2 {
    margin-left: 25%
}

#i1 {
    display: inline-block;
    width: 33%;
    height: 25%;
}

#i2 {
    display: inline-block;
    width: 33%;
    height: 25%;
}

#i3 {
    display: inline-block;
    width: 33%;
    height: 25%;
}

#i4 {
    display: inline-block;
    width: 33%;
    height: 25%;
}
