/* master template: f15 */

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#viewport {
    width: 360px;
    height: 360px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border: 3px solid red;
}

#t1 {
    margin-top: 5%;
    left: 0%;
    width: 100%;
    height: 10%;
}

#t2 {
    margin-top:2%;
    left: 0%;
    width: 100%;
    height: 10%;
}

#t3 {
    margin-top: 5%;
    left: 0%;
    width: 100%;
    height: 15%;
    font-weight: bold;
    font-size: 30pt;
}

#t4 {
    top: 45%;
    left: 0%;
    width: 100%;
    height: 10%;
    font-size: 24pt;
}

#t5 {
    margin-top: 5%;
    left: 0%;
    width: 100%;
    height: 15%;
    font-weight: bold;
    font-size: 30pt;
}

#t6 {
    left: 0%;
    width: 100%;
    height: 10%;
}

#t7 {
    margin-top: 2%;
    left: 0%;
    width: 100%;
    height: 10%;
}

