/* master template: f08 */

* {
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#viewport {
    width: 360px;
    height: 360px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border: 3px solid red;
}

#t1 {
    top: 5%;
    left: 0%;
    width: 100%;
}

#i1 {
    top: 25%;
    left: 0%;
    width: 100%;
}

#t2 {
    top: 80%;
    left: 0%;
    width: 100%;
    font-size: 30pt;
}

