* {
	position: absolute;
	margin: 0;
	padding: 0;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	width: 100%;
	text-align: center;
	color: white;
}
.regularFont {
	font-size: 20pt;
}
.mediumFont {
	font-size: 22pt;
}
.largeFont {
	font-size: 46pt;
}
#container {
	width: 100%;
	height: 100%;
	background-color: black;
}
#img_weather {
	width: 166.7px;
	height: 122.4px;
	top: 27.5%;
	left: 106.1px;
}
#text_1 {
	top: 8%;
}
#text_2 {
	top: 17%;
}
#text_3 {
	top: 60.5%;
}
#text_4 {
	top: 82%;
}