body {
	margin: 0px;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
	font-size: 24px;
	font-family: Breeze sans Condensed-Regular;
	color: white;
	background-color:#222;
}

div {
	position:absolute;
}
.progress {
	width:360px;
	height:360px;
}
.icon {
	left:130px;
	top:50px;
}
.icon-size {			
	width:100px;
	height:100px;
}
.txt {
	width:100%;
	text-align: center;
}
.dist {
	top:160px;
	height:16px;
	line-height: 16px;
	color:green;
	font-size: 16px;
}
.num {
	top:176px;
	height:90px;
	line-height: 90px;
	font-size: 90px;
}
.meter {
	top:266px;
	height:24px;
	line-height: 24px;
	font-size: 24px;
}