/* master template: f08 */

* {
    display: flex;
    margin: 0;
    padding: 0;
}

script, style {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#viewport {
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 360px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border: 3px solid red;
}

#t1 {
    margin-top: 5%;
}

#i1 {
    margin-top: 10%;
}
