body {
    position:absolute;
    padding: 0px;
    margin: 0px;
	top:0px;
	left:0px;
	width:360px;
	height:360px;
    font-size: 2.125em;
    color: white;
	background-color: black;
	//border: 2px solid red;
}
head {
	display: none;
}
* {
	display: block;
}
.top {
	height: 105px;
}
.topTxt {
	padding-top: 50px;
	text-align: center;
	font-size: 30px;
}
.middle {
	height: 145px;
	font-size: 30px;
}
.number {
	font-size: 60px;
	padding-top: 20px;
	text-align: center;
}
.company {
	font-size: 20px;
	text-align: center;
}
.bottom {
	height: 110px;
}
.change {
	font-size: 25px;
	padding-top: 15px;
	text-align: center;
}
.percent {
	font-size: 25px;
	padding-top: 10px;
	text-align: center;
}
