* {
	display: flex;
	margin: 0;
	padding: 0;
}
script {
	display: none;
}
html, body {
	width: 380px;
	height: 380px;
}
p {
	color: white;
	font-size: 17pt;
}
div {
	align-items: center;
}
.img_btn {
	width: 52%;
	margin-top: 10%;
}
.div_line {
	flex-direction: column;
	width: 40%;
}
#container {
	width: 100%;
	height: 100%;
	background-color: #36A8DF;
	flex-direction: column;
}
#div_title {
	width: 100%;
	height: 11%;
	margin-top: 7%;
	justify-content: center;
}
#img_icon {
	width: 11%;
	height: 100%;
	margin-right: 2%;
}
#img_logo {
	width: 25%;
	height: 52%;
}
#div_grid {
	width: 100%;
	margin-top: 2.5%;
	justify-content: center;
}
