/* master template: f15 */

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#viewport {
    width: 360px;
    height: 360px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border: 3px solid red;
}

#t1 {
    margin-top: 30%;
    left: 0%;
}

#b {
    margin-top: 2%;
}

#a1 {
    display: inline-block;
    margin-left: 19%;
    height: 10%;
}

#a2 {
    display: inline-block;
    height: 15%;
    font-weight: bold;
    font-size: 30pt;
}
